.enrollment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Utilisez 100vh pour occuper toute la hauteur de la fenêtre */
}

.back-icon {
    width: 30px;
    height: 30px;
    padding: 6.67px 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: rgb(228, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-icon img {
    width: 20px;
    height: 20px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 80%; /* ou toute autre largeur souhaitée */
  }
  .texte1 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .input1 {
    border: 1px solid #0000004D;
  }

  /* Enrollment.css */

/* Style pour les inputs */
.enrollment-form input {
  border: none; /* Supprimer toutes les bordures */
  border-bottom: 1px solid black; /* Ajouter une bordure seulement en bas */
}

/* Style pour les options de sélection */
.enrollment-form select {
  border: none; /* Supprimer toutes les bordures */
  border-bottom: 1px solid black; /* Ajouter une bordure seulement en bas */
  background-color: transparent; /* Enlever le fond */
}
/* Enrollment.css */

/* Enrollment.css */

/* Style pour les inputs */
.enrollment-form input[type="text"] {
  border: none; /* Supprimer toutes les bordures */
  border-bottom: 1px solid black; /* Ajouter une bordure seulement en bas */
  flex-grow: 1; /* Permettre à chaque input de prendre autant d'espace que possible */
  flex-shrink: 1; /* Permettre à chaque input de réduire sa taille si nécessaire */
  margin-right: 10px; /* Ajouter un espacement entre les inputs */
}

/* Le dernier input n'aura pas de marge */
.enrollment-form input[type="text"]:last-child {
  margin-right: 0; /* Supprimer la marge du dernier input */
}

.input-nom-prenom {
  width: 305px;
  height: 33px;
}
.input-telephone {
  width: 148px;
  height: 33px;
  /* Ajoutez d'autres styles si nécessaire */
}
.input-montant {
  width: 305px;
  height: 33px;
  /* Ajoutez d'autres styles si nécessaire */
}
.select-container {
  display: flex;
  justify-content: space-between;
  /* Autres styles si nécessaire */
}

.select-wrapper {
  flex: 1;
  margin-right: 10px; /* Espacement entre les sélecteurs si nécessaire */
}

.select-zone {
  width: 190px; /* Ajoutez la largeur souhaitée pour la zone */
  height: 33px; /* Ajoutez la hauteur souhaitée pour la zone */
  /* Autres styles */
}

.select-secteur {
  width: 106px; /* Ajoutez la largeur souhaitée pour le secteur */
  height: 33px; /* Ajoutez la hauteur souhaitée pour le secteur */
  /* Autres styles */
}
.select-categorie {
  width: 305px; /* Ajoutez la largeur souhaitée pour la catégorie */
  height: 33px; /* Ajoutez la hauteur souhaitée pour la catégorie */
  /* Autres styles */
}
.enrollment-form div {
  margin-bottom: 30px; /* Ajoutez la marge souhaitée entre chaque élément */
}
.bout {
  width: 305px; /* Ajustez la largeur selon vos préférences */
  height: 45px; /* Même hauteur que les inputs */
  background-color: black; /* Fond noir */
  text-decoration: none;
  color: white; /* Texte blanc */
  border: none; /* Supprimer les bordures */
  border-radius: 10px; /* Coins arrondis */
  margin-bottom: 80px;
  margin-top: 20px;
  text-align: center; /* Centrer le texte à l'intérieur du bouton */
  display: flex; /* Permettre au contenu de s'aligner au centre */
  justify-content: center; /* Aligner le contenu horizontalement au centre */
  align-items: center; /* Aligner le contenu verticalement au centre */
}